body {
    font-family: "Comic Sans MS", cursive;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
        background-image: url("https://media.istockphoto.com/photos/vi%C3%B1edo-en-la-puesta-de-sol-picture-id504580551");
        background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
        background-position: center; /* Centra la imagen en la pantalla */
    }
  
  
  .container {
    width: 100%;
    max-width: 400px;
  }
  
  .card {
    width: 100%;
    background-color: wheat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
  }
  
  input:focus {
    border-color: #ff0000;
  }
  
  button {
    background-color: #5f2121;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #b65555;
  }


  