@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  color: #252a3b;
}

#contenedor {
  max-width: 900px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 20px rgba(42, 40, 43, 0.1);
}

h1, h2 {
  color: #53646f;
  margin-bottom: 20px;
  font-weight: 500;
}

#imagen{
  float: left;
  position: relative;
  left: 100px;
  bottom:47px;}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #53646f;
  font-weight: 400;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

form button {
  background-color: #66417e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color:#66417e;
}

#tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

#tabla thead {
  background-color: #f4f6f8;
  text-transform: uppercase;
  font-size: 12px;
  color: #9eabb4;
}

#tabla th, #tabla td {
  padding: 15px 12px;
  text-align: center;
  border-bottom: 1px solid #e4e9ea;
}

#tabla tbody tr:hover {
  background-color: #f0f8fb;
}

.estado-circulo {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.estado-activo {
  background-color: #4CAF50;
}

.estado-pendiente {
  background-color: #FFEB3B; 
}

.estado-finalizado {
  background-color: #F44336;
}


.modificar.titulo {
  margin-top: 40px;
}

.modificar {
  visibility: hidden;
}

/* Responsive */
@media screen and (max-width: 768px) {
  #contenedor {
    width: 95%;
    padding: 20px;
  }

  #tabla {
    font-size: 12px;
  }

  form input, form button {
    font-size: 13px;
  }
}
