.tabla{
    border: 1px solid black auto;
    border-collapse:collapse;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
  
    }
    th{
        border: 1px solid black;
    }